{% extends "base.html" %} {% block content %}
<div id="wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Profile of {{ request.user }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <form method="get" action="{% url 'changepassword' %}">
        <p for="email" style="text-align: left" size="40">
          Email: {{ request.user.email }}
        </p>
        <button class="btn btncolor" type="submit" name="action">
          Change Password
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <form method="get" action="{% url 'logout' %}">
        <button class="btn btncolor" type="submit" name="action">
          Logout
          <i class="material-icons right">logout</i>
        </button>
      </form>
    </div>
  </div>
  {% endblock content %}
</div>
