{% extends "base.html" %} {% block content %}
<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h4
              class="card-title"
              style="font-size: 2.5rem; font-weight: 500; margin-bottom: 0"
            >
              {{ coupon.name }}
            </h4>

            <div class="row" style="margin-bottom: 0">
              <div class="col s12">
                <div class="divider" style="margin: 1rem 0"></div>
              </div>
              <div class="col s12 m6 l3">
                <p style="font-size: 1.25rem; margin-bottom: 0">Discount:</p>
                <p style="font-size: 2rem; font-weight: 500; margin-bottom: 0">
                  {{ coupon.discount_amt }}
                </p>
                <p style="font-size: 1rem; margin-bottom: 0">
                  {{ coupon.discount_type }}
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p style="font-size: 1.25rem; margin-bottom: 0">Expires:</p>
                <p style="font-size: 2rem; font-weight: 500; margin-bottom: 0">
                  {{ coupon.expiring_date|date:"F d, Y" }}
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p style="font-size: 1.25rem; margin-bottom: 0">Code:</p>
                <p style="font-size: 2rem; font-weight: 500; margin-bottom: 0">
                  {{ coupon.code }}
                </p>
              </div>
              <div class="col s12 m6 l3">
                <p style="font-size: 1.25rem; margin-bottom: 0">Score:</p>
                <p style="font-size: 2rem; font-weight: 500; margin-bottom: 0">
                  {{ coupon.score }}
                </p>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a
              style="margin-left: 30px"
              href="{% url 'home' %}"
              class="btn login"
              >Back to Home</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4>Add a Comment</h4>
        <form method="post" action="{% url 'add_comment' coupon.id %}">
          {% csrf_token %} {{ form.as_p }}
          <button
            style="margin-left: 15px"
            class="btn login"
            type="submit"
            name="action"
          >
            Submit<i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4>Comments</h4>
        {% for comment in comments %}
        <div class="card">
          <div class="card-content">
            <p>{{ comment.text }}</p>
            <p>
              Posted by: {{ comment.user.username }} | Posted on:
              {{comment.created_date}}
            </p>
          </div>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
